jamo
inflect
eng_to_ipa
Unidecode
cn2an
jieba
pypinyin
OpenCC
PyYAML
scipy
librosa
Flask
librosa
audonnx
indic-transliteration
numba==0.57.1
numpy==1.23.0
torch==2.0.1
openjtalk==0.3.0.dev3
num-thai
ko-pron